@page "/"
@inject UserService us

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Users</h1>


        @foreach (var user in Users)
        {
            <p>Nom : @user.UserName Role : @user.Role</p>
        }

        @code {
        List<User> Users = new();

        protected override async Task OnInitializedAsync()
        {
            base.OnInitialized();
            Users = await us.GetAllUsers();
        }
        }

    </Authorized>

    <NotAuthorized>
        <a href="/login">se connecter</a>
    </NotAuthorized>
</AuthorizeView>
